* {
    box-sizing: border-box;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(53, 50, 50);
}

header {
    background-color: rgb(0, 12, 37);
}

h1 {
    display: inline;
    font-size: 3rem;
    color: aliceblue;
}

nav {
    display: inline;
    padding: 15px;
    float: right;
}

nav ul {
    list-style-type: none;
}

li {
    font-size: 1.5rem;
    display: inline;
    padding: 15px;
    margin: 0 auto;
    color: rgb(108, 92, 153)
}

#header-spacer {
    padding: 60px;
    background-image: url(../images/GroundCobblestone001_COL_4K.jpg);
    background-position: center center;
    background-repeat: repeat;
    background-size: 20em;
}

p {
    text-align: left;
    color: rgb(108, 92, 153);
    font-weight: lighter;
    margin: 2.5vw 0;
}

main {
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    float: right;
    text-align: center;
    margin: auto;
}

.work-hero {
    position: relative;
}


.work-hero img {
    max-width: 90.5%;
    border: solid 5px;
    margin: 20px 0 0 0;


}
.work-hero div {
    display: inline;
    position: absolute;
    background-color: rgb(108, 92, 153);
    color: aliceblue;
    left: 4.5vw;
    bottom: 15vw;
    padding: 3vw;
}

.work-container {
    display: inline;
    flex-flow: row wrap;
    width: 100%;
}

main .work-item {
    position: relative;
    display: inline;
}

.work-item img {
    width: 45%;
    display: inline;
    object-fit: cover;
    border: solid 5px;
}

.work-item div {
    display: inline;
    position: absolute;
    background-color: rgb(108, 92, 153);
    color: aliceblue;
    left: 8px;
    bottom: 125px;
    padding: 3vh;
}

h3 {
    font-size: 1.4rem;
}

.contact {
    width: 100%;
}

.headings-side {
    display: flex;
    flex-flow: column nowrap;
    float: left;
    height: 100%;
    align-items: flex-end;
    width: 10%;
}

.contact {
    text-align: center;
    margin: 50px 0;
}

.headings-side {
    width: 20%;
    color: rgb(108, 92, 153);
}

.headings-side #side-1 {
    border-right: solid rgb(0, 12, 37) 5px;
    padding-bottom: 3vw;
    margin: 2vw 0 3vw;
    padding-right: 1vw;
}

.headings-side #side-2 {
    border-right: solid rgb(0, 12, 37) 5px;
    padding-bottom: 102vw;
    margin-bottom: 2vw;
    padding-right: 1vw;
}

.headings-side #side-3 {
    border-right: solid rgb(0, 12, 37) 5px;
    padding-right: 1vw;

}

h2 {
    font-size: 2.5rem;
}
